.header_content {
    max-width: 1000px;
    margin: -125px auto;
  }
  .header_content h1 {
    font-size: 48px;
    font-weight: 800;
    max-width: 80%;
  }
  .header_content p {
    font-weight: 500;
  }